.card{
    width: 800px;;
    height: auto;
    border:1px solid black;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.card img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 2px;
}

.card-content{
display: flex;
flex-direction: column;
gap: 25px;
}

.card .name{
    font-size: 20px;
    font-weight: bold;

}

.repo{
    font-size: 20px;
    font-weight: bold;

}

.gitbtn{
    display: flex;
    gap: 10px;
    /* padding: 10px 15px; */
}
